In [ ]:
import pandas as pd

new_list = ["apple", "baby", "cot", "dog", "elephant"]

series = pd.Series(new_list)

print(series)
print(series.dtype)

In [ ]:
dict_list = [
    {
        "name": "Margaret",
        "age": 10,
        "female": True
    },
    {
        "name": "Sharon",
        "age": 12,
        "female": True
    },
    {
        "name": "Dietrich",
        "age": 14,
        "female": False
    }
]

import pandas as pd

data = pd.DataFrame(dict_list)
# print(data)
# print(data.dtypes)
print(data.T)
print(data.loc[1]["age"])
print(data.loc[2])
data["name"]

In [ ]:

dict_list = [
    {
        "name": "Margaret",
        "age": 10,
        "female": True
    },
    {
        "name": "Shubert",
        "age": 11,
        "female": False
    },
    {
        "name": "Solomon",
        "age": 19,
        "female": False
    },
    {
        "name": "Sharon",
        "age": 12,
        "female": True
    },
    {
        "name": "Dietrich",
        "age": 14,
        "female": False
    }
]

import pandas as pd

data = pd.DataFrame(dict_list, index=["team1", "team1", "team2", "team3", "team3"])

# print(data)
# print(data.dtypes)
data.head()
team3 = data.loc["team3"]
# print(team3)

# print(team3.dtypes)


team3_names = team3.loc[:, ["name", "age"]]
print(team3_names)
# print(team3_names.dtype)


print(data["name"])

team3_ages = team3["age"]
print(team3_ages)
print(team3_ages.dtype)

In [ ]:
print(data)
new_data = data.copy()
some_data = new_data.append(pd.Series({"name": "Delilah", "age": 14, "female": True}, name="team2"))
print(some_data)

In [ ]:
# reduced = some_data.drop()
# print(reduced)
print(new_data)

In [ ]:
import pandas as pd

# with open("C:/Users/peich/OneDrive/Documents/SetForLife.csv", "r") as file:
#     line = file.readline()
#     print(line)
csv = pd.read_csv("C:/Users/peich/OneDrive/Documents/SetForLife.csv")
# print(type(csv))
# csv.head()
print(csv.columns)
new_csv = csv.rename(columns={" Draw Date (yyyymmdd)": "Draw Date"})
new_csv.head()

In [ ]:
print("Count: {}".format(csv.count()))
print(f"size: {csv.size}")

In [ ]:
new_csv.loc[2][" Set for Life 1st Prize"]
new_csv.replace('Set for Life', pd.NA, inplace=True)
# print(new_csv.head())
def stripper(value):
    if type(value) == type(10):
        return value 
    else:
        return str.strip(value)
        
# print(new_csv.columns)
renamed = new_csv.rename(mapper=stripper, axis="columns")
renamed = renamed.rename(columns={'Winning Number 1':1})
renamed = renamed.rename(columns={'Set for Life 1st Prize': '1st Prize'})

print(renamed.columns)
renamed.head()

In [ ]:
renamed.fillna('$0.00', inplace=True)
renamed.head()

In [ ]:
# len(renamed.columns)
renamed["prize_total"] = 0
renamed.head()

In [ ]:
# print(type(renamed.loc[1]["1st Prize"]))
print(renamed.shape)
no_of_entries = renamed.shape[0]
def sum_dollar_values(list_of_values):
    total = 0
    for value in list_of_values:
        float_value = float(value[1:].replace(',', ''))
        total = total + float_value
    return "${:.2f}".format(total)
for i in range(no_of_entries):
    location = renamed.loc[i]
    renamed.iat[i, 20] = sum_dollar_values(location[12:20])
    
renamed.head()

# location = renamed.iloc[2]
# for entry in location[12:20]:
#     print(entry)

In [ ]:
new_data = [
    {"book title": "Forever Food",
     "visits": 10,
     "date": "25032022",
     "size": "256kb",
     "theme": "food"
     },
    {"book title": "Always Hungry",
     "visits": 12,
     "date": "26032022",
     "size": "3056kb",
     "theme": "food"
     },
    {"book title": "Disgustingly Good",
     "visits": 100,
     "date": "29032022",
     "size": "256kb",
     "theme": "beauty"
     },
    {"book title": "Grow by 20",
     "visits": 10,
     "date": "25032022",
     "size": "256kb",
     "theme": "health"
     },
    {
        "book title": "Continue Growing",
        "visits": 30,
        "date": "25032022",
        "size": "256kb",
        "theme": "health"
     },
]

new_df = pd.DataFrame(new_data)
new_df.head()

In [ ]:
new_df.insert(1, "author", "Anonymous")
new_df.head()

In [ ]:
new_df.iat[0, 1] = "Jamie Zhu"
new_df.head()

In [ ]:
import re
result = new_df[new_df["book title"].str.contains("Grow")]
print(result)
# new_df.loc[new_df['book_title'].str.extract('.*Grow.*', ), "author"] 
# new_df.head()

In [ ]:
new_df.head()
mask = new_df["author"].where(new_df["book title"].str.contains("Grow"))
print(mask)

# new_df["author"] = new_df.iloc[:,1].where(mask.T)

In [ ]:
series = [
     "James Zhu",
     "Eric Kong", 
     "Taylor Swift", 
     "Ben Bold", 
     "Feven Great"
    ]
import pandas as pd
new_series = pd.Series(series)
new_series.head()

In [ ]:
new_data = pd.DataFrame(new_series)
new_data.columns = ["full name"]
new_data.head()
def split_name_manual(row):
    row["first"] = row["full name"].split(" ")[0]
    row["last"] = row["full name"].split(" ")[-1]
    return row
# df = new_data.apply(split_name_manual, axis="columns")

names = new_data["full name"].str.extract("^(\w+).* (\w+)$", )
names.columns=["first","last"]
print(names)
new_data["first"] = names["first"]
new_data["last"] = names["last"]
new_data.head()

In [ ]:
new_data["4char"] = new_data["first"]

In [ ]:
stringy = "mabel ann boris"
stringy2 = "james edward"
stringy3 = "Pei Chea Tan"
pattern = "^(\w+).* (\w+)$"
matches = re.match(pattern, stringy)
if matches:
    print(matches.groups())

matches = re.match(pattern, stringy2)
if matches:
    print(matches.groups())

matches = re.match(pattern, stringy3)
if matches:
    print(matches.groups())

In [ ]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)
print(obj2)
print(obj3)
import math
math.isnan(obj2["California"])


test_df = pd.Series(sdata)
print(test_df)
# print(test_df.loc[35000])
# for item in test_df.iteritems():
    # print(item)

In [ ]:
data = pd.DataFrame([
    {
        "one": "blue",
        "two": "red",
        "three": "green",
        "four": "grey"
     },
    {
        "one": "yellow",
        "two": "red",
        "three": "yellow",
        "four": "black"
     },
    {
        "one": "green",
        "two": "white",
        "three": "red",
        "four": "yellow"
     },
    ], index=["texes", "ohio", "missisipi"])
print(data)

drop_texes_list = data.drop(["texes"])

print(drop_texes_list)
drop_texes = data.drop("texes")
print(drop_texes)
drop_two = data.drop('two',)
print(drop_two)

drop_more = data.drop(['ohio', 'missisipi'])
print(drop_more)

In [ ]:
data = pd.DataFrame([
     {
         "employee number": 1,
         "age": 47,
         "wage": 50000,
         "period": 6
     },
     {
         "employee number": 2,
         "age": 37,
         "wage": 21000,
         "period": 3
     },
     {
         "employee number": 3,
         "age": 37,
         "wage": 21000,
         "period": 2
     },
     {
         "employee number": 4,
         "age": 40,
         "wage": 30000,
         "period": 4
     },
     {
         "employee number": 5,
         "age": 42,
         "wage": 30000,
         "period": 4
     },
     {
         "employee number": 6,
         "age": 20,
         "wage": 10000,
         "period": 1
     },
     
 ]) 
print(data[data["age"]<45])
print(data[data["age"].gt(30)])
print(data[data["age"].gt(30) & data["wage"].lt(30000)])
print(data[(data["age"].gt(30)) & (data["wage"].lt(30000))])

print((data["age"].gt(30)) & (data["wage"].lt(30000)))